:root {
      --primary-color : #f5f5f5 ;
      --white-color : #fff ;
      --black-color : #333 ;
      --text-color : #333 ; 
      --border-color : #dbdbdb ; 
      --icon--twitter : #00d3b9 ; 
      --header-height : 100px ; 
      --header-height--comunity : 50px ; 
      --footer-height : 400px ; 
}
*{
      box-sizing: inherit;
      font-family: 'Roboto'  , sans-serif;
}
html {
      font-size: 62.5%;
      line-height: 1.6rem;
      box-sizing: border-box;
}
.grid {
      width: 1236px;
      max-width: 100%;
      margin: 0 auto;
}
.body-content{
      grid-template-columns: 23% 23% 23% 23%;
      display: grid;
      grid-gap:2px;
      margin-left: 80px;
}
.body-content-3 {
      grid-template-columns:32% 32% 32% ;
      display: grid;
      grid-gap:2px;
}
.body-content-4 {
      grid-template-columns: 23% 23% 23% 23%;
      display: grid;
      grid-gap:2px;
}
.body-content-2 {
      grid-template-columns: 49% 49% ; 
      display: grid;
      grid-gap:2px;
}
.body-content-5 {
      grid-template-columns:20% 20% 20% 20% 20% ;
      display: grid;
      grid-gap:2px;
}
.footer-content-2 {
      grid-template-columns: 49% 49%;
      display: grid;
}
.grid__row {
      display: flex; 
      flex-wrap: wrap;
}
.grid_full-with {
      width: 100%;
}
.grid_column-3{
      padding-left: 5px;
      padding-right: 5px;
      width: 33.33%;
}
.grid_column-2 {
      padding-left: 5px;
      padding-right: 5px;
}
.grid_column-10 {
      padding-left: 5px;
      padding-right: 5px;
      width: 75%;
}
.grid_column-card {
      padding-left: 5px;
      padding-right: 5px;
      width: 25%;
}
.grid_column-6 {
      width: 50%; 
      padding-left: 5px;
      padding-right: 5px;
}
.footer-content-3 {
      grid-template-columns: 25% 50% 25%;
      display: grid;
}
 @keyframes fadeIn {
       from { opacity:0 ;}
       to {opacity:1 ;}
 }
 @keyframes growth {
       from { 
             transform: scale(var(--growth-from)) ; 
       }
       to {
             transform : scale(var(--growth-to)) ;
      }
 }
/* Modal */
.modal{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      animation: fadeIn linear 0.1s ;  
      visibility: hidden;
      opacity: 0;
      transition: opacity linear 0.2s ; 
} 
.modal__close {
      position: absolute;
      width: 100%;
      height: 100%;
}
.modal:target{
   visibility:visible;
   opacity: 1;
}
.modal_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color:rgb(0, 0, 0 , 0.2);
}
.modal_body {
      --growth-from : 0.7s ; 
      --growth-to : 1s; 
      width: 390px;
      background-color:var(--white-color) ; 
      margin : auto;
      position : relative;
      z-index: 1;
      border-radius: 5px;
      animation : growth linear 0.1s ; 
}


