#container {
  width: 390px;
  height: 450px;
  margin: 0 auto;
}
.title_heading {
  display: table-cell;
  width: 50%;
  background-color: #f54f29;
  padding: 10px;
  float: left;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #ffffff;
  border-bottom: 0px;
  position: relative;
  font-size: 16px;
  color: #ffffff;
}
.title_heading:hover, p{
  cursor: pointer;
}

#title_heading-login {
  background-color: #f54f29;
}
#cont {
  width: 100%;
  height: 300px;
  background-color: var(--white-color);
  border: 2px solid #ffffff;
}

input{
  display: block;
  width: 100%;
  margin: 10px 13px;
  padding: 10px;
  font-size: 13px;
  color: #333;
  outline: none;
  border-radius: 3px;
}

input[type="submit"] {
  width: 100%;
  color: var(--white-color);
  background-color: #f54f29 ; 
  font-size: 14px;
}
span.error {
  font-size : 14px ; 
  font-weight: 500 ; 
  color : #f54f29 ; 
  margin-left : 20px ; 
  font-style : italic ; 
}
#clear {
  clear: both;
}

.auth_form {
    width: 90%;
    position: absolute;
    visibility: hidden;
}
#login {
  visibility: visible;
}

h3 {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 15px;
  font-size: 1.5em;
  color: #ffffff;
}

#forgot h3 {
  display: block;
  margin-top: 30px;
  text-align: center;
}

#forgot div {
  margin-top: 30px;
}
.forget_password{
  padding: 10px 15px;
  font-size: 1.3em;
  color: var(--text-color);
}