* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: var(--black-color);
}
.header_navbar_comunity {
  display: flex;
  height: var(--header-height--comunity);
  justify-content: space-between;
}
.header_nav_social-list {
  list-style: none;
}
.header_nav_social_list-item {
  display: inline-block;
}
.header_nav_infor-list {
  list-style: none;
  display: flex;
}
.header_nav_social_list-item {
  display: inline-block;
  margin: 15px 8px;
}
.header_nav_infor_list-item {
  margin: 15px 8px;
  position: relative;
}
.header_nav_infor_item--link,
.header_nav_social_list-item {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 300;
}
.header_nav_infor_list_item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: var(--white-color);
  right: -8px;
  top: 1px;
}
.header_nav--icon {
  color: var(--white-color);
  font-size: 2rem;
}
.header_nav_social_list-item:hover,
.header_nav_social_item--link:hover,
.header_nav--icon:hover {
  cursor: pointer;
  color: slategrey;
}
.header_nav_infor_list-item:hover,
.header_nav_infor_item--link:hover {
  cursor: pointer;
  color: red;
}
.header_nav_title--no-pointer {
  cursor: text;
  color: var(--white-color);
}
/* header shopMan */
.header_navbar {
  z-index: 1;
  height: var(--header-height);
  background-color: rgb(248, 245, 245);
}
.header_nav_shop {
  display: flex;
  justify-content: space-between;
}
.header_nav--logo {
  padding-top: 25px;
  padding-bottom: 25px;
}
.header_nav_logo--brand:hover {
  cursor: pointer;
}
.header_nav--menu {
  display: flex;
}
.header_nav_menu--list {
  display: flex;
  list-style: none;
}
.header_nav_list--item {
  font-size: 1.5rem;
  padding: 0 20px;
  margin-top: 45px;
  margin-bottom: 40px;
  font-weight: 900;
}
.header_nav_item--link {
  text-decoration: none;
  color: var(--black-color);
}
.header_nav_list--item:hover,
.header_nav_item--link:hover {
  cursor: pointer;
  color: #f54f29;
}
.header_nav--account {
}
.header_nav_account--list {
  display: flex;
  list-style: none;
}
.header_nav_account_list--item {
  font-size: 1.8rem;
  padding: 0 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.header_nav_account--icon,
.header_nav_account--icon--cart {
  color: var(--black-color);
  font-size: 2.2rem;
}
.header_nav_account--icon--cart:hover {
  color: #f77557;
}
.header_nav_account_list--item:hover,
.header_nav_account_item--link:hover,
.header_nav_account--icon:hover {
  cursor: pointer;
}
/* Main of Shop Product */

/* Banner_background */
.product_banner {
  position: relative;
  margin-top: 0;
  padding-top: 30%;
  background: url("../img/image_product/backgroung_shopping.jpg") center center /
    cover no-repeat;
}
.slider_text_content {
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white-color);
  text-align: center;
}
.slider_text-headding {
  font-size: 6.5rem;
  font-style: italic;
  color: #ecf0f1;
  margin-bottom: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 50px;
}
.slider_text_sub {
  color: #c7c7c7;
  font-family: inherit;
  font-style: italic;
  font-size: 1.8rem;
  line-height: 25px;
  margin-top: 40px;
}

/* Row Liên kết  */
.row_link {
  margin: 20px 5px;
  height: 2.5rem;
}
.link_select {
  display: flex;
  justify-self: start;
  height: 100%;
  align-items: center;
}
.text_link-home {
  font-size: 1.5rem;
  font-weight: 700;
  color: #808080;
  line-height: 25px;
}
.text_slash {
  font-size: 1.5rem;
  font-weight: 600;
  color: #808080;
  line-height: 25px;
  margin: 0px 8px;
}
.text_link-product {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(214, 63, 63);
  line-height: 25px;
}
/* Product */
.product_category {
  /* background-color: #808080;  */
}
.category {
  padding: 5px;
  margin-bottom: 20px;
}
.category_heading {
  color: hsl(0 0% 21%);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  margin: 8px 8px;
}
.empty-list {
  display: block;
  position: absolute;
  width: 50px;
  background-color: rgb(151, 151, 151);
  border: 2px solid rgb(151, 151, 151);
  border-radius: 3px;
  margin-left: 15px;
  margin-top: 5px;
}
.category-list {
  list-style: none;
  margin: 20px 10px 5px 8px;
  border: 1px solid;
}
.category_list-item {
  font-size: 1.3rem;
  color: var(--black-color);
  line-height: 2.5rem;
  font-weight: 500;
  margin-left: 12px;
}
.category_list_item-link {
  position: relative;
  text-decoration: none;
  color: var(--black-color);
  font-weight: 700;
  transition: right linear 0.1s;
  right: 0;
}
.category_list_item-active {
  color: #cc4121;
}
.category_list_item-link:hover {
  cursor: pointer;
  color: #cc4121;
  right: -4px;
}
.home_filter {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
.home_filter-sort {
  background-color: rgb(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 3px;
  margin-right: 10px;
}
.home-filter_label {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 10px;
}
.select_input {
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 300;
  align-items: center;
}
.selevt_input-label {
  padding-right: 10px;
}
/*product card*/
.home_product {
  margin: 20px 0;
}
.home__product_item {
  background-color: var(--primary-color);
  position: relative;
}
.home__product_item--link {
  text-decoration: none;
}
.home__product_item--link:hover {
  cursor: pointer;
}
.home_product_item-img {
  padding-top: 80%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.home_product_item-brand {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  list-style: bold;
  font-weight: 700;
  line-height: 25px;
}
.home_product_item_brand-modal {
  color: var(--black-color);
  font-size: 1.8rem;
}
.home_product_item_name-modal {
  font-size: 1.8rem;
  color: rgb(95, 105, 116);
  font-weight: 700;
  line-height: 23px;
}
.home_product_item_star {
  color: hsl(31 100% 58%);
  display: inline;
  font-size: 1.8rem;
  line-height: 21px;
}
.home_product_item-info {
  align-items: center;
  border-color: rgb(185, 185, 185);
  border-style: solid none none;
  border-width: 2px 0 0;
  line-height: 24px;
  padding: 0 16px;
  padding-top: 10px;
}
.home_product_item-price {
  margin: 5px 0;
  display: flex;
}
.home_product_item_price-curent {
  color: red;
  font-weight: 800;
  font-style: bold;
  line-height: 24px;
  font-size: 1.7rem;
  padding-right: 5px;
}
.home_product_item_price_old {
  color: hsl(0 0% 45%);
  font-weight: 800;
  font-style: bold;
  line-height: 24px;
  font-size: 1.7rem;
  padding-left: 5px;
  text-decoration: line-through;
}
.home_product_item-sale--off {
  display: flex;
  background-color: hsl(216 100% 63%);
  position: absolute;
  top: 15px;
  left: 10px;
  border-radius: 5px;
  width: 15%;
  height: 7%;
  justify-content: center;
}
.home_product_item-percent {
  font-size: 1.4rem;
  color: var(--white-color);
  line-height: 20px;
  font-weight: 600;
  align-items: center;
  padding-top: 2px;
}
.home_product_item--favorite {
  position: absolute;
  top: 15px;
  right: 15px;
  padding-top: 2px;
}
.home_product_item_favorite_icon {
  color: rgb(119, 124, 129);
  font-size: 2.5rem;
  align-items: center;
}
/*Footer of Shop */
.container_footer{
  height: var(--footer-height);
  background-color: rgb(70,76,87);
}
.footer_item{
  margin-top: 40px;
  display: block;
}
.footer_item-img{
}
.footer_item_img--logo{
  height: 45px;
  width: 75%;
}
.footer_item-title {
  margin-bottom: 5px;
}
.footer_item_title-shop{
  margin-left: 5px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white-color);
  line-height: 25px;
}
.footer_item-address{
margin: 20px 0;
}
.footer_item-icon {
  font-size: 2rem;
  color: #f54f29;
  margin-left: 5px;
}
.footer_item_address-detail{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 25px;
  margin: 0 8px;
  color: #d3d3d3;
}
.footer_item_contact-hotline{
  font-size: 1.4rem;
  margin: 0 8px;
  color: #d3d3d3;
  font-weight: 500;
  line-height: 25px;
}
.footer_item_email{
  margin: 20px 0;
}
.footer_item_email--person{
  font-size: 1.4rem;
  color: #d3d3d3;
  font-weight: 500;
  margin: 0 8px;
  line-height: 25px;
}
/* Infomation of Shop  */
.footer_item_content--list{
  list-style: none;
  margin-top: 50px;
  margin-left: 50px;
  padding-left: 5px;
}
.footer_item--info{
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 700;
  line-height: 25px;
  margin: 0 0 24px;
}
.footer_item--contact{
  font-size: 1.4rem;
  margin: 23px 0;
}
.footer_item_contact-link{
  text-decoration: none;
  color:#d3d3d3 ;
  font-weight: 600;
}
.footer_item--contact:hover,
.footer_item_contact-link:hover{
  cursor: pointer;
  color: #EB3E32;
}
/*  Footer Social*/
.footer_item--follow{
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 700;
  line-height: 25px;
  margin: 0 0 24px;
  margin-top: 50px;
}
.footer_item--content{
  margin-top: 10px;
}
.footer_item_content--more{
  font-size: 1.6rem;
  font-weight: 500;
  color: #d3d3d3;
  line-height: 25px;
}
