/* mobile && tablet */
@media screen and (max-width: 1023px) {
      .hide-on-mobile-tablet {
            display: none ; 
      }
      .header_nav--menu-bar{
            display:block;
      }
}
/* Tablet */
@media (min-width:739px ) and (max-width:1023px) {
      .hide-on-tablet {
            display: none ; 
      }
      .home-product {
            margin-left: 10px;
      }
      .body-content-3 {
            grid-template-columns:auto auto auto;
            display: grid;
            grid-gap: 10px;
      }
      .grid_column-10 {
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
        }
        .header_nav_logo-img{
            height : 40px ; 
            margin : 6px 0px ; 
            margin-left: 40px; 
       }  
       .slider_text_content {
            bottom : 10px ; 
            position: relative;
      }
      .slider_text-headding {
            position : absolute ;
           bottom : 125px ; 
            left : 0px ; 
            right : 0px ; 
            font-size: 45px;
            margin-bottom: 10px;
            line-height: 30px;
      }
      .slider_text_sub {
            position : absolute;
            font-size : 21px ;
            bottom : 95px ;  
            left : 0px ; 
            right : 0px ; 
      }
      .header_nav--menu-bar{
            margin-top:10px ; 
            font-size :40px ; 
      }
      .header_nav_logo-img {
            height:48px ; 
            margin-top: 10px;
            margin-left: 30px ; 
      }
      .header_nav_account--icon {
            font-size: 40px;
      }
}
/* Mobile */
@media screen and (max-width : 739px) {
      .hide-on-mobile {
            display: none ; 
      }
      .header_nav--menu-bar{
            display:block;
      }
      .header_nav_logo-img{
           height : 25px ; 
           margin : 16px 0px ; 
           margin-left: 40px; 
      }
      .header_nav--menu-bar {
            position: absolute ; 
            left:15px; 
            margin-top: 16px;
            font-size: 22px;
      }
      .header_nav_account_list--item{
            padding : 0px 10px ; 
      }   
      .content_section--heading {
            font-size:22px ; 
            top : 10px ; 
      }
      .content_section--sub{
            top :0;
            font-size:14px 
      } 
      .body-content {
            grid-template-columns:auto;
            display: grid;
            margin: 0 10px;
      }
      .body-content-3 {
            grid-template-columns:auto;
            display: grid;
            margin: 0 10px;
      }
      .home_product {
            margin : 15px 0;  
      }
      .home_product_item-percent {
            font-size:15px ; 
            padding-top:3px ; 
      }
      .product_btn--more{
            display: flex;
            justify-content: center;
      }
      .home_news {
            margin-top : 2px ; 
      }
      .home_news_item--content{
            font-size : 13px ; 
      }
      .home_news_item--content{
            font-size: 14px;
      }
      .grid_column-10 {
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
      }
      .slider_text_content {
            bottom : 10px ; 
      }
      .slider_text-headding {
            font-size : 18px ;
            margin-bottom: 1px;
            line-height:20px ; 
      }
      .slider_text_sub {
            font-size : 13px ;
            margin-top:10px ; 
      }
}